:root{
    --form-ok-color: #4caf50;
    --form-error-color:#f44336;
}

body{
    overflow-x: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
  
}

a{
    color: #01579b;
    transition: color .3s ease;
}

a:hover{
    color: #00b0ff;
}

h1{
    text-align: center;
}

img{
    max-width: 100%;
    height: auto;
}

.grid-fluid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin: 1rem auto;
    max-width: 90%;
}